section
  h1 React Forms

section
  ul
    li React Form Inputs hold internal state from user interactions
  pre.
    <code class="html" data-trim>
    &lt;form>
      &lt;label>
        Name:
        &lt;input type="text" name="name" />
      &lt;/label>
      &lt;input type="submit" value="Submit" />
    &lt;/form>

    </code>

section
  ul
    li Form components allow listening for changes
    li Set a callback to the <span class="component red">onChange</span> prop
    li The callback fires when:
      ul
        li The value changes (every keystroke)
        li Checked state changes (checkbox)
        li Selected state changes (select dropdown)

section
  h2 Controlled Components
  ul
    li React controls state and display
    li Any <span class="component red">&lt;input&gt;</span> with value set is a controlled component
    li Value of the rendered element will always reflect the <span class="component red">value</span> prop
  pre.
    <code class="javascript" data-trim>handleCityChange(event) {
      this.setState({city: {value: event.target.value}});
    }

    &lt;input type="text" value={this.state.city.value}
           onChange={this.handleCityChange} />
    </code>

section
  h2 React Bootstrap
  ul
    li Bootstrap Form components for React
  pre.
    <code class="javascript" data-trim>&lt;FormGroup controlId="firstName">
      &lt;ControlLabel>First Name&lt;/ControlLabel>
      &lt;FormControl
        type="text"
        value={this.state.firstName.value}
        placeholder="Enter firstName"
        onChange={(e) => this.handleFirstNameChange(e.target.value)}
      />
    &lt;/FormGroup>
    </code>

section
  h2 React Bootstrap Validation
  ul
    li Add a validationState function to return one of success, warning, or error
    li Add <span class="component red">&lt;FormControl.Feedback/></span> inside the FormGroup tag

section
  h3 Validation
  pre.
    <code class="javascript" data-trim>&lt;FormGroup
      controlId="firstName"
      validationState={this.getFirstNameValidationState()}
    >
      &lt;ControlLabel>First Name&lt;/ControlLabel>
      &lt;FormControl
        type="text"
        value={this.state.firstName.value}
        placeholder="Enter firstName"
        onChange={(e) => this.handleFirstNameChange(e.target.value)}
      />
      &lt;FormControl.Feedback />
    &lt;/FormGroup>
    </code>

section
  pre.
    <code class="javascript" data-trim>getFirstNameValidationState() {
      if (!this.state) return;
      if (this.state.firstName.valid === true) return 'success';
      else if (this.state.firstName.valid === false) return 'error';
    }

    handleFirstNameChange(value) {
      const isValid = value ? true : false;
      return this.setState(
        { firstName: {value: value, valid: isValid }}
      );
    }
    </code>

section
  h3 Uncontrolled Components
  ul
    li React does not control the state
    li Used for custom behavior
    li Good for co-existing with non-React libraries
    li Use a <span class="component red">ref</span> function to get input value from DOM
    li Optionally, use <span class="component red">defaultValue</span> instead of <span class="component red">value</span>, <span class="component red">defaultChecked</span> instead of <span class="component red">checked</span>
  pre.
    <code class="javascript" data-trim>&lt;form onSubmit={this.handleSubmit}&gt;
      &lt;input type="text" ref={(input) => this.name = input} />
    &lt;/form&gt;

    handleSubmit(event) {
      console.log(`Input value: ${this.name}`)
    }
    </code>

section
  h1 Lab 5
  h2 React Form Validation
