section
  h2 React Forms

section
  ul
    li React Form Inputs hold internal state from user interactions
  script(type="text/plain", class="language-jsx").
    <form>
      <label>
        Name:
        <input type="text" name="name" />
      </label>
      <input type="submit" value="Submit" />
    </form>

section
  ul
    li Form components allow listening for changes
    li Set a callback to the <span class="component red">onChange</span> prop
    li The callback fires when:
      ul
        li The value changes (every keystroke)
        li Checked state changes (checkbox)
        li Selected state changes (select dropdown)

section
  h2 Controlled Components
  ul
    li React controls state and display
    li Any <span class="component red">&lt;input&gt;</span> with value set is a controlled component
    li Value of the rendered element will always reflect the <span class="component red">value</span> prop
  script(type="text/plain", class="language-jsx").
    handleCityChange(event) {
      this.setState({city: {value: event.target.value}});
    }

    <input type="text" value={this.state.city.value}
           onChange={this.handleCityChange} />

section
  h2 React Bootstrap
  ul
    li Bootstrap Form components for React
  script(type="text/plain", class="language-jsx").
    <FormGroup controlId="firstName">
      <ControlLabel>First Name</ControlLabel>
      <FormControl
        type="text"
        value={this.state.firstName.value}
        placeholder="Enter firstName"
        onChange={(e) => this.handleFirstNameChange(e.target.value)}
      />
    </FormGroup>

section
  h2 React Bootstrap Validation
  ul
    li Add a validationState function to return one of success, warning, or error
    li Add <span class="component red">&lt;FormControl.Feedback/></span> inside the FormGroup tag

section
  h3 Validation
  script(type="text/plain", class="language-jsx").
    FormGroup
      controlId="firstName"
      validationState={this.getFirstNameValidationState()}
    >
      <ControlLabel>First Name</ControlLabel>
      <FormControl
        type="text"
        value={this.state.firstName.value}
        placeholder="Enter firstName"
        onChange={(e) => this.handleFirstNameChange(e.target.value)}
      />
      <FormControl.Feedback />
    </FormGroup>

section
  script(type="text/plain", class="language-jsx").
    getFirstNameValidationState() {
      if (!this.state) return;
      if (this.state.firstName.valid === true) return 'success';
      else if (this.state.firstName.valid === false) return 'error';
    }

    handleFirstNameChange(value) {
      const isValid = value ? true : false;
      return this.setState(
        { firstName: {value: value, valid: isValid }}
      );
    }

section
  h3 Uncontrolled Components
  ul
    li React does not control the state
    li Used for custom behavior
    li Good for co-existing with non-React libraries
    li Use a <span class="component red">ref</span> function to get input value from DOM
    li Optionally, use <span class="component red">defaultValue</span> instead of <span class="component red">value</span>, <span class="component red">defaultChecked</span> instead of <span class="component red">checked</span>
  script(type="text/plain", class="language-jsx").
    <form onSubmit={this.handleSubmit}>
      <input type="text" ref={(input) => this.name = input} />
    </form>

    handleSubmit(event) {
      console.log(`Input value: ${this.name}`)
    }

section
  h1 Lab 5
  h2 React Form Validation
